<ion-view view-title="Ambiente">
    <ion-content>
      <div class="header">
        <img class="header1" src="img\header_singolo_evento.PNG"> </img>
      </div>
              <div class="titoloAmbiente">
                                <b>LOCOMOTIVE</b> AMBIENTE
              </div>
              <div class="testoAmbiente">
                C'è da sempre nel dna del Locomotive un'attenzione a valorizzare luoghi di interesse sia ambientale che storico-culturale. Negli anni si è consolidata una collaborazione con il Fai, che ha permesso di raggiungere luoghi splendidi spesso poco conosciuti. L'intento non è quello di ambientare un concerto suggestivo e scappare via, ma quello di tracciare un percorso, raggiungere la bellezza camminando, attraverso un laico pellegrinaggio per spazi di terra che spesso vengono dimenticati o ignorati. Ma non solo. Per il Locomotive, “ambiente” significa rispettare la Natura, le sue stagioni, il suo corso, il suoi tempi e per renderle omaggio, i concerti della Trilogia (Alba, Tramonto e Notte Locomotive), saranno ambientati in luoghi meravigliosi che si potranno ammirare sotto luci diverse e suggestive, grazie alle note di grandi musicisti.
                Si arriva sul posto, si aggiunge bellezza alla bellezza, ci si carica di emozioni e si va via con discrezione e rispetto, non alterando in alcun modo spazi e ambienti.
              </div>
              <hr style="color:'red'"></hr>

</div>
    </ion-content>
</ion-view>
