<ion-view view-title="card">
  <ion-content>
    <div class="text-justify">
      <h2 class="margintop20 text-center"><strong>LOCOMOTIVE</strong><br><span class="font-weight-300">CARD</span></h2>
      <p class="margintop10 marginbottom20">
          <strong>Locomotive Card</strong> è un progetto culturale che nasce dal successo del “Locomotive Jazz Festival”, diretto dal sassofonista Raffaele Casarano. Il progetto Locomotive Card si anima grazie alla passione e all’amore verso la propria terra, valorizzando la musica, l’arte, la cultura. L’obiettivo prioritario è fare sistema coinvolgendo il territorio, i suoi protagonisti e tutti coloro i quali decidono di entrare a far parte di questa famiglia, attraverso incontri, dibattiti, eventi musicali e letterari.
      </p>
      <div>
          <h3 class="text-center">LOCOMOTIVE CARD PRESTIGE</h3>
          <img src="img/lcomotive-card-prestige.png">
          <ul>
            <li>-Sms dedicati ai soli soci</li>
            <li>-Mail dedicate ai soli soci</li>
            <li>-Customare Care preferenziale via mail</li>
            <li>-Fast Check-in a tutti gli eventi Locomotive per evitare la coda</li>
            <li>-Day One anticipato per l’acquisto prioritario dei biglietti rispetto ai canali di vendita tradizionali</li>
            <li>-Scontistica del 20% su tutti i gadgets targati Locomotive</li>
            <li>-Promozioni e scontistica immediate presso tutti i nostri partner ufficiali (Librerie</li>
            <li>-Feltrinelli, Cantieri Teatrali Koreia, Apollonio Vini, ecc.ecc)</li>
            <li>-50% di sconto a tutti i concerti LJF 2016</li>
            <li>-Maglietta Locomotive in Omaggio</li>
            <li>-Accesso gratuito ed esclusivo al party finale LJF 2016</li>
            <li>-Partecipazione agevolata a corsi e workshop presso le migliori strutture di formazione esistenti sul territorio, in convenzione con Locomotive.</li>
          </ul>
          <p style="margin-top:20px;">
              <strong>Costo € 50,00</strong><br>
              <strong>Under 18: € 20,00</strong><br>
              <strong>Universitari € 30,00</strong><br>
              <strong>Over 65 € 30,00</strong><br>
              <strong>Coppie € 80,00</strong>
          </p>
        </div>




<hr style="margin: 1px 40px 1px;padding: 1px;background-color: black;"></hr>


<div >
    <div style="margin-top: 20px;">
    <h3>LOCOMOTIVE CARD BASIC</h3>
      <img src="img/locomotive-card.png" ></img>
<ul>
<li>-Sms dedicati ai soli soci</li>
<li>-Mail dedicate ai soli soci</li>
<li>-Customare Care preferenziale via mail</li>
<li>-Fast Check-in a tutti gli eventi Locomotive per evitare la coda</li>
<li>-Day One anticipato per l’acquisto prioritario dei biglietti rispetto ai canali di vendita tradizionali</li>
<li>-Scontistica del 10% su tutti i gadgets targati Locomotive</li>
<li>-10% di sconto a tutti i concerti LJF 2016</li>
<li>-Accesso alla Festa Finale del Locomotive Jazz Festival</li>
</ul></div>
</div>
<div >
    <div >
    <p style="margin-top:20px;"><strong>Costo € 30,00</strong><br><strong>Under 18: € 10,00</strong><br><strong>Universitari € 20,00</strong><br><strong>Over 65 € 20,00</strong><br><strong>Coppie € 40,00</strong></p></div>
    <hr style="margin: 1px 40px 1px;padding: 1px;background-color: black;"></hr>

</div>
</div>
                        </div>
</div>
                </div>




    </ion-content>
</ion-view>
