<ion-view view-title="Contatti">
  <ion-content>
    <head> <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     </head>

    <div >
    <div  style="margin-bottom: 40px;"></div>
    <div  style="padding: 20px;font-size: 18px;text-align: center;line-height:24px;">
    <strong >LOCOMOTIVE JAZZ FESTIVAL</strong><br>
    info e prenotazioni: tel. 345 1089622<br>
    e-mail: info@locomotivejazzfestival.it<br><br>

    Associazione Culturale Musicale Locomotive<br>
    P.I. 04019400755<br>
    Via Trieste 87, Sogliano Cavour (Le)<br>

    </div >
<hr style="margin: 10px 40px ;padding: 1px;background-color: black;"></hr>
    <div  style="margin-bottom: 40px;font-size: 18px;text-align: center;">
    <strong >SEGUICI SU</strong>

    <div class="text-center">
<a class="social-link" href="https://www.facebook.com/LocomotiveJazzFestival/" target="_blank">
      <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
</a>
<a class="social-link" href="https://twitter.com/LJF_Locomotive" target="_blank">
      <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>

</a>
    <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
    <a class="social-link"  href="https://instagram.com/locomotive_jazz_festival/" target="_blank">
          <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
    </a>
    <a class="social-link"  href="https://www.youtube.com/channel/UCaSjo3k5HfVsTy_grHXcMgA" target="_blank">
           <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
          </span>
    </a>
  </div>
    <hr style="margin: 10px 40px ;padding: 1px;background-color: black;"></hr>
    </div>


    <div class="col-md-2" style="margin-bottom: 40px;"></div>
    <img src="img\copertina2017.png" style="max-width: 100%; width: auto; height: auto;"> </img>
    </div>
  </ion-content>
</ion-view>
