<ion-view view-title="Contatti">
  <ion-content>
    <head> <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     </head>

    <div >
    <div  style="margin-bottom: 40px;"></div>
    <div  style="margin-bottom: 40px;font-size: 18px;text-align: center">
    <strong >LOCOMOTIVE JAZZ FESTIVAL</strong><br>
    info e prenotazioni: tel. 345 1089622<br>
    e-mail: info@locomotivejazzfestival.it<br><br>

    Associazione Culturale Musicale Locomotive<br>
    P.I. 04019400755<br>
    Via Trieste 87, Sogliano Cavour (Le)<br>

    </div >
    <div  style="margin-bottom: 40px;font-size: 18px;text-align: center;">
    <strong >SEGUICI SU</strong>

    <div >
    <a style="margin-right: 10px;"  href="https://www.facebook.com/LocomotiveJazzFestival/" target="_blank"><img src="img\facebook.png"></a>
    <a style="margin-right: 10px;" href="https://twitter.com/LJF_Locomotive" target="_blank"><img src="img\twitter.png"></a>
    <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
    <a style="margin-right: 10px;" href="https://instagram.com/locomotive_jazz_festival/" target="_blank"><img src="img\instagram.png"></a>
    <a  style="margin-right: 10px;" href="https://www.youtube.com/channel/UCaSjo3k5HfVsTy_grHXcMgA" target="_blank"><img src="img\youtube.png"></a>
      <!-- <a href=""><i class="fa fa-dribbble"></i></a> -->
     </div>

    </div>

    <div class="col-md-2" style="margin-bottom: 40px;"></div>
    <img src="img\copertina2017.png" style="max-width: 100%; width: auto; height: auto;"> </img>
    </div>
  </ion-content>
</ion-view>
