<ion-view view-title="{{ evento.luogo }}" />
    <ion-content>
        <div class="generale_specifica">

            <h2 class="data">{{evento.data}}</h2>
            <h4 class="titolo" ng-if="evento.titolo">{{evento.titolo}}</h4>
            <div ng-bind-html="evento.descrizione"></div>
            <locojazz-link-luogo  class="edificio" ng-if="evento.luogo" luogo="evento.luogo"></locojazz-link-luogo>

            <h4>{{ card.ore }}</h4>

            <div ng-repeat="card in evento.programma">
                <h4 class="edificio" ng-if="card.luogo">{{card.luogo}}</h4>
                <h4>{{ card.ore }}</h4>

                <div ng-bind-html="card.descrizione"></div>
                <hr class="linea" />
            </div>


        </div>
    </ion-content>
</ion-view>
