<ion-view view-title="Home">

  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <background-image url:"img\event1.png">
          <h1 style="color: red;">14 LUGLIO </h1>
          <h3 style=" color: black;"><b>MONTERONI DI LECCE</b> </h3>
      </div>
    </div>
      <div class="card">
        <div class="item item-text-wrap">
          <background-image url:"img\evento2.png">
            <h1 style="color: red;">22 LUGLIO </h1>
            <h3 style=" color: black;"><b>LECCE</b> </h3>
        </div>
      </div>
        <div class="card">
          <div class="item item-text-wrap">
            <background-image url:"img\evento3.png">
              <h1 style="color: red;">23 LUGLIO </h1>
              <h3 style=" color: black;"><b>da BARI a MATERA</b> </h3>
          </div>
        </div>
  </ion-content>

</ion-view>
