<ion-view view-title="Home">

  <ion-content>
    <div class="card" >
        <div class="item item-text-wrap">
          <h1 >Locomotive Jazz Festival 2017</h1>
          <h3 class="toUpper"><b>XII Edizione</b> </h3>
          <img class="full-image" src="img/copertina2017.png" />
          <div style="text-align: center;">
          <a style="margin-right: 10px;"  href="https://www.facebook.com/LocomotiveJazzFestival/" target="_blank"><img src="img\facebook.png"></a>
          <a style="margin-right: 10px;" href="https://twitter.com/LJF_Locomotive" target="_blank"><img src="img\twitter.png"></a>
          <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
          <a style="margin-right: 10px;" href="https://instagram.com/locomotive_jazz_festival/" target="_blank"><img src="img\instagram.png"></a>
          <a  style="margin-right: 10px;" href="https://www.youtube.com/channel/UCaSjo3k5HfVsTy_grHXcMgA" target="_blank"><img src="img\youtube.png"></a>
        </div>
      </div>
        <div class="item item-avatar" ui-sref="app.evento({'eventoId': prossimoEvento.id})">
            <img ng-src="{{prossimoEvento.image}}" ng-if="prossimoEvento.image"/>
            <p>Prossimo Evento</p>
            <h2 class="toUpper">{{ prossimoEvento.luogo }}</h2>
            <p class="red-text">{{ prossimoEvento.data }}</p>
        </div>
    </div>

  </ion-content>

</ion-view>
