<ion-view view-title="Concept">
  <ion-content>
    <div class="row">
        <div class="col">
            <h3 class="text-center">"La Musica nasce dalle Periferie"</h3>
            <h5 class="text-center topMargin10">
                La visione del Prof. Luca Bandirali - Università del Salento.
            </h5>
            <p class="text-center topMargin10">
                Il concept di Locomotive 2017 è fortemente stimolante per chiunque si occupi di comunicazione culturale,
                perché spinge a ripensare la contemporaneità assumendo come riferimento una nuova cartografia.
                A livello di aree urbane, consegnato il centro al turismo di massa, appare evidente il contributo decisivo
                del decentramento creativo.
                Le unità periferiche sono diventate in questo senso elementi di hardware che pensano autonomamente,
                elaborano percorsi non subordinati alla logica del sistema centrale.
                Pensiamo alle sottoculture che nascono nelle periferie delle grandi aree metropolitane alla fine degli
                anni ’70: in particolare l’Hip Hop, che trae i propri codici dal radicamento nella marginalità ma anche
                da una chiara volontà di attraversamento dei confini urbani.
                La rivoluzione digitale ha modificato i canali di distribuzione del prodotto culturale, ma anche il suo
                contesto realizzativo: dalla tua periferia puoi fruire della musica o dei film che preferisci, per esempio su
                una piattaforma streaming; ma nella tua periferia puoi anche fare la musica che vuoi, il cinema che vuoi,
                senza necessariamente muoverti verso un centro. Il Salento del presente, con i suoi artisti “residenti”, i
                suoi eventi culturali, le sue etichette discografiche, le sue case editrici, le sue agenzie creative,
                la sua Università, rappresenta un esempio potente di progetto alternativo: una periferia creativa, pensante, che
                ribalta le gerarchie e diventa essa stessa centro. In questo vivacissimo contesto, Locomotive 2017 appare
                come un’avanguardia in grado di rilanciare ulteriormente le istanze del territorio e di presentarle in una
                dimensione internazionale.
            </p>
        </div>


    </div>
  </ion-content>
</ion-view>
