<ion-view view-title="Staff Locomotive">
    <ion-content>
        <ul class="list">
            <li class="item itemStaff"><strong>PRESIDENTE</strong> Giuseppe Casarano</li>
            <li class="item itemStaff"><strong>DIRETTORE ARTISTICO</strong> Raffaele Casarano</li>
            <li class="item itemStaff"><strong>AMMINISTRAZIONE E PROGETTI</strong> Giuseppe Casarano, Elena Maiorano</li>
            <li class="item itemStaff"><strong>PRODUZIONE</strong>  Simona De Carlo, Guglielmo Dimidri</li>
            <li class="item itemStaff"><strong>MARKETING MANAGER</strong> Fabrizio Manzulli</li>
            <li class="item itemStaff"><strong>SEGRETARIA AMMINISTRATIVA</strong> Carla Casarano</li>
            <li class="item itemStaff"><strong>CREW</strong> Piera Donno, Fabio Fabrizio, Daniele Manca, Marianna Mammarella, Giancarlo Monteduro, Maria Eugenia Congedo, Gregorio Rucco</li>
            <li class="item itemStaff">
                <strong>COMUNICAZIONE, STAMPA E SOCIAL</strong>
                Laura Preite, Andrea Dentini (volontaria),
                Max Baccano, Dalila Dimitri (volontaria)
            </li>
            <li class="item itemStaff"><strong>UFFICIO STAMPA NAZIONALE</strong>Guido Gaito</li>
            <li class="item itemStaff"><strong>GRAFICA, FOTOGRAFIA E VIDEO </strong>
                Alessandro  Sicuro (Rebel), Ilenia Tesoro, Sergio Limongelli, Francesco Bardoscia, Guglielmo Bianchi, Davide Mellone
                <br/><br/>
                Un ringraziamento a Andrea Boccalini e Roberto Cifarelli ed a Flavio & Frank
            </li>
            <li class="item itemStaff"><strong>TECNICI E SERVICE</strong>
                Sud Service, 2R servizi reali, Adriano Pisi, Federico Galimberti, Gianluca Tilesi, Marianna Tozzo
            </li>
            <li class="item itemStaff"><strong>VOLONTARI </strong>
                Concetta Donno, Mariangela Nascosto, Lorenzo Attanasio, Mariangela Latronico, Raffaele De Gabrieli, Alberto Tuma, Camilla De Gabrieli, Evita Tateo, Lorenzo De Gabrieli, Elia Leardi, Rossana De Lorenzi, Elisabetta Presta, Giuseppina Nuzzaci, Cristiana Pacifico, Davide Romano, Agnese Cossa, Marta Negro, Claudia Cardinale, Giorgia Fai, Prof. Gigi Mangia, Sofia Trisolino, Paola Perrone, Asia Cagnazzo, Veronica Manca, Roberta Manca, Vittoria Torsello
            </li>
        </ul>
    </ion-content>
</ion-view>


STAFF LOCOMOTIVE
PRESIDENTE Giuseppe Casarano
DIRETTORE ARTISTICO Raffaele Casarano
AMMINISTRAZIONE E PROGETTI Giuseppe Casarano, Elena Maiorano
PRODUZIONE Simona De Carlo, Guglielmo Dimidri
MARKETING MANAGER Fabrizio Manzulli
SEGRETARIA AMMINISTRATIVA Carla Casarano
CREW: Piera Donno, Fabio Fabrizio, Daniele Manca, Marianna Mammarella, Giancarlo Monteduro, Maria Eugenia Congedo, Gregorio Rucco
COMUNICAZIONE, STAMPA E SOCIAL
Laura Preite, Andrea Dentini (volontaria)
Max Baccano, Dalila Dimitri (volontaria)
UFFICIO STAMPA NAZIONALE Guido Gaito
GRAFICA, FOTOGRAFIA E VIDEO
Alessandro  Sicuro (Rebel), Ilenia Tesoro, Sergio Limongelli, Francesco Bardoscia, Guglielmo Bianchi, Davide Mellone
Un ringraziamento a Andrea Boccalini e Roberto Cifarelli ed a Flavio & Frank
TECNICI E SERVICE
Sud Service, 2R servizi reali, Adriano Pisi, Federico Galimberti, Gianluca Tilesi, Marianna Tozzo
VOLONTARI
Concetta Donno, Mariangela Nascosto, Lorenzo Attanasio, Mariangela Latronico, Raffaele De Gabrieli, Alberto Tuma, Camilla De Gabrieli, Evita Tateo, Lorenzo De Gabrieli, Elia Leardi, Rossana De Lorenzi, Elisabetta Presta, Giuseppina Nuzzaci, Cristiana Pacifico, Davide Romano, Agnese Cossa, Marta Negro, Claudia Cardinale, Giorgia Fai, Prof. Gigi Mangia, Sofia Trisolino, Paola Perrone, Asia Cagnazzo, Veronica Manca, Roberta Manca, Vittoria Torsello
