body{
  color: #5f5f63 !important;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
p{
  padding: 2px 5px;
}






.list-card{
  text-align: center;
}
.data{
  color: #ec0000;
}
.titolo{
  background: #000;
  color: #fff;
  margin: 1px 25px;
}
.edificio{
  color: dodgerblue;
}
.generale_specifica{
  text-align: center;
}
img.header1{
 max-width: 100%;
 width: auto;
 height: auto;
}
.linea{
  background-color: #ec0000;
  margin: 10px 60px;
}
.ion-card{
  color: black;
  text-align: left;
  width: 100px;
  height:100px;
}
.menu_img{
  max-width: 250px;
}
.social-link{
  color: #ec0000;
  display: inline-block;
}
.hr{
  color: #ec0000;
}
