.list-card{
text-align: center;
}
.data{
color: red;
}
.titolo{
  background-color:black;
  color:white;
      margin: 1px 25px 1px;
}
.edificio{
  color:dodgerblue;
}
.generale_specifica{
  text-align: center;
}
.header1{
         max-width: 100%;
         width: auto;
         height: auto;
}
.linea{
      background-color: red;
      margin: 1px 60px 1px;
      padding: 1px;
}
.ion-card{
  color: black;
  text-align: left;
  width: 100px;
  height:100px;
}
.menu_img{
  max-width: 250px;
}
.social-link{
  color: #ec0000;
}
