<div>
    <p class="text-center">
        Seguici sui social
    </p>
    <p class="text-center">

        <a ng-click="$ctrl.social.vaiFacebook()">
            <i class="fa fa-facebook-square" style="font-size:36px"></i>
        </a>
        <a ng-click="$ctrl.social.vaiTwitter()" >
            <i class="fa fa-twitter-square" style="font-size:36px"></i>
        </a>
        <a ng-click="$ctrl.social.vaiInstantgram()">
            <i class="fa fa-instagram" style="font-size:36px"></i>
        </a>
        <a  ng-click="$ctrl.social.vaiYouTube()">
            <i class="fa fa-youtube-play" style="font-size:36px"></i>
        </a>
    </p>


</div>
