<div>
  <p class="text-center">
    Seguici sui social
  </p>
  <p class="text-center" style="margin-top:10px">
    <a class="followIcons" ng-click="$ctrl.social.vaiTwitter()" >
      <img src="img/social/twitter.png" alt="twitter"/>
    </a>
    <a class="followIcons" ng-click="$ctrl.social.vaiFacebook()">
      <img src="img/social/facebook.png" alt="facebook"/>
    </a>
    <a class="followIcons" ng-click="$ctrl.social.vaiInstantgram()">
      <img src="img/social/instagram.png" alt="instagram"/>
    </a>
    <a class="followIcons" ng-click="$ctrl.social.vaiYouTube()">
      <img src="img/social/youtube.png" alt="youtube"/>
    </a>
  </p>
</div>
