.evento .item-avatar .icon {
  background-color: $dodgerblue;
  top: 11px;
  left: 11px;
}

.evento .item-icon-left .icon {
  background-color: $white;
  left: 10px;
  margin: 5px 0px;
}

div.textNoWrap p {
  overflow: visible;
  text-overflow: ellipsis;
  white-space: normal;
}
