h1.menuTitle {
  text-transform: inherit;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

h1.homeTitle {
  letter-spacing: -2px;
}

ion-header-bar.bar-stable.locomotiveBar.bar.bar-header {
  background: url('../img/headerBar.png');
  background-size: contain;
}

.locomotiveMenu {
  background-image: url(../img/general/background-m.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.locomotiveMenu .bar.bar-header.bar-stable {
/*
  background-color: lighten($locomotivejazzcolor, 10%);
  */
  background-image: url(../img/general/menu-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 73px;
}

ion-item.item.item-complex {
  margin-top: 3vmin;
}
